/* @theme HKUSTGZStd */

/*
 * @author Tong.Y
 * @auto-scaling true
 * 
 * Resolution:
 * @size 16:9 1280px 720px
 * @size 4:3 960px 720px
 * @size 1080P 1920px 1080px
 * @size 4k 3840px 2160px
 * 
 * @size square 1000px 1000px
 * */


@import 'default';
/* @import url("HKUST-GZ_Color.css"); */

p {
  font-size: 1.8em;
}

h1 {
  color: var(--hkust-blue);
  font-size: 3.5em;
  font-weight: bold;
  text-shadow: 2px 2px 0 #CCCCCC;
  /* text-align: center; */
}

h2 {
  color: var(--hkust-blue);
  font-size: 2.8em;
}

h3 {
  color: var(--hkust-yellow-dark);
  font-size: 2.3em;
}

h4 {
  color: var(--hkust-gray);
  font-size: 1.7em;
}

li {
  font-size: 1.6em;
}

th {
  font: bold;
  background-color: var(--hkust-yellow-light);
  color: var(--hkust-white);
  font-size: 1.2em;
}

td {
  /* background-color: var(--hkust-gray); */
  font-size: 1.2em;
}


header {
  top: 30px;
}

footer {
  bottom: 30px;
  left: 40px;
  font-size: 1.35em;
  color: #000000;
}

/* Styling page number */
section::after {
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
  content: attr(data-marpit-pagination) ' / ' attr(data-marpit-pagination-total);
}

section {
  /* Define HKUST colors */
  --hkust-yellow-dark: #996600;
  --hkust-yellow-light: #CC9900;
  --hkust-white: #FFFFFF;
  --hkust-blue: #003366;
  --hkust-gray: #8c8a8a;
  --hkust-black: #000000;
}

section {
  /* Define SYSU colors */
}

section {
  /* Define SUSTech colors */
}







