/* @theme My-University */

/*
 * @author Tong.Y
 * @auto-scaling true
 * 
 * Resolution:
 * @size 16:9 1280px 720px
 * @size 4:3 960px 720px
 * @size 1080P 1920px 1080px
 * @size 4k 3840px 2160px
 * 
 * @size square 1000px 1000px
 * */


@import 'default';
@import url("Color.css"); 

p {
  font-size: 1.8em;
}

h1 {
  color: var(--university-dark);
  font-size: 3.5em;
  font-weight: bold;
  text-shadow: 2px 2px 0 #CCCCCC;
  /* text-align: center; */
}

h2 {
  color: var(--university-dark);
  font-size: 2.8em;
}

h3 {
  color: var(--university-main);
  font-size: 2.3em;
}

h4 {
  color: var(--university-gray);
  font-size: 1.7em;
}

li {
  font-size: 1.6em;
}


header {
  top: 30px;
}

footer {
  bottom: 30px;
  left: 40px;
  font-size: 1.2em;
  color: #000000;
  /* text-shadow: 2px 2px 0 var(--hkust-white); */
}

/* Styling page number */
section::after {
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
  content: attr(data-marpit-pagination) ' / ' attr(data-marpit-pagination-total);
}

section {
  --university-dark: #003366;
  --university-main: #CC9900;
  --university-deco: #996600;
  
  --university-gray:  #8c8a8a;
  --university-black: #000000;
  --university-white: #FFFFFF;
}






