section {
    /* Define colors */
    --hkust-yellow-dark: #996600;
    --hkust-yellow-light: #CC9900;
    --hkust-white: #FFFFFF;
    --hkust-blue: #003366;
    --hkust-gray: #8c8a8a;
    --hkust-black: #000000;
}